// --------------------------------
// BALKAN: Variables-Mixins
// --------------------------------



// --------------------------------
// Blog Post List
// --------------------------------


.blogpostlist {
    margin-bottom: 80px;
}


// Product items in container
.blogpostlist .post-article {
    position: relative;
    width: 31%;
    min-width: 330px;
    margin-bottom: 2%;
    margin-right: 2%;

    border: 2px solid @black;
    .transition(@duration:0.2s, @ease:ease-in-out);

    @media @tablet {
        min-width: 300px;
        margin-right: 1%;
    }

    // Display 100% at mobile
    @media @mobile {
        width: 100%;
        margin-bottom: 4%;
        min-width: 260px;
    }
}

.blogpostlist .post-article:hover {
    border: 2px solid @contrast-color;
    & .read-more {
        background-color: @contrast-color;
    }

    & .post-footer {
        border-top: 2px solid @contrast-color;
    }
}


// Read More button
.blogpostlist  .read-more {
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 54px;
    width: 50%;
    padding-top: 19px;
    background-color: black;
    color: white;
    text-align: center;

    .transition(@duration:0.2s, @ease:ease-in-out);

    &:hover {
        text-decoration: none;
    }

    @media @mobile {
        height: 35px;
        padding-top: 9px;
    }
}


// Content
// ---------------


// Image
.post-image .image {
    width: 100%;
}

// Title
.title-link {
  color: @heading-color;
}

// Content & Timestamp
.post-content,
.timestamp {
  padding: 0 17px;
}

.post-footer {
  border-top: 2px solid @black;
  .transition(@duration:0.2s, @ease:ease-in-out);
}

.post-footer .timestamp {
    float: right;
    margin: 18px 0;

    @media @mobile {
        margin: 8px 0;
    }
}


// Post List Footer
// ----------------

.post-list-footer {
    position: absolute;
    bottom: -60px;
}

// // ----------------------------------
// // Full Width Widget: Blog Posts List
// // ----------------------------------

// .container {
//     div#page-zones__main-widgets__blogpostlist,
//     div#page-zones__main-widgets__blogpostlistWidget {
//         width: 90%;
//         margin: 0 5%;
//         @media only screen and (min-width: 1140px) {
//             width: 100% !important;
//             margin: 0 auto !important;
//             padding: 0 50px 50px !important;
//         }
//     }
// }




// // ---------------
// // Blog Posts List
// // ---------------

// .blogpostlist {
//     .clearfix;
//     .post-article {
//         float: left;
//         padding: 0 12px 24px;
//         height: auto;
//         width: 20%;
//         @media only screen and (max-width : 1600px) {
//             width: 25%;
//         }
//         @media only screen and (max-width : 1200px) {
//             width: 33.33%;
//         }
//         @media only screen and (max-width : 900px) {
//             width: 50%;
//         }
//         @media only screen and (max-width : 600px) {
//             padding: 0 0 24px;
//             width: 100%;
//         }
//     }
// }
