<!-- Header include -->
<header class="template-header">
    <div class="company-info">
        {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
        {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
    </div>

    {{widget('socialicons', 'socialnetworks', {
        'googleplus': 'profile',
        'linkedin':'profile',
        'facebook': 'profile',
        'twitter': 'profile',
        'youtube': 'profilee',
        'rss': 'profile'
    })|raw}}
</header>